<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Analysis</title>
    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
<link rel="stylesheet" href="css/my_style.css"/>

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
<div style="background: url(https://i.postimg.cc/ZnHTP71s/aircraft-airplane-boat-1575833.jpg)" class="page-holder bg-cover">

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" >Welcome</a>
      </nav>  

      <div class="mx-auto" style="width: 800px;">
        <div class="jumbotron text-center">
          <h1 class="display-4">Movie Review Sentiment Analysis</h1>
          <form action="{{url_for('prediction')}}" method="POST">
            <div class="form-group">
              <label for="message">Tweet Here!!</label>
              <textarea class="form-control" name="message" rows="3"></textarea>
              <br>
              <input class="btn btn-primary btn-lg" type="submit" value="Submit">
            </div>
          </form>
          </div>
          </div>
        
          {% block content %}

          {% endblock %}
        </div>  
</body>
</html>